@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap");
* {
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0;
  padding: 0;
  background: #252225;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-x: hidden; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75); }
  header .spotify-btn button {
    position: absolute;
    top: 20px;
    right: 10px;
    border: none;
    background: #1db954;
    color: white;
    border-radius: 25px;
    padding: 10px; }
  header h1 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin: 9px auto 0; }

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px; }
  nav button {
    margin-top: 18px;
    background: #E5E4E7;
    border: none;
    border-radius: 12px;
    min-width: 64px;
    width: 20%;
    padding: 8px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin 0.15s ease-in-out, background 0.15s ease-in-out, max-height 0.15s ease-in-out, opacity 0.15s ease-in-out; }
    nav button:hover {
      background: #5BA8FF; }
      nav button:hover img {
        filter: brightness(0) invert(1); }
    nav button img {
      transition: filter 0.15s ease-in-out, height 0.5s ease-in-out, opacity 0.15s ease-in-out;
      height: 35px; }
  nav .active {
    background: #5BA8FF; }
    nav .active img {
      filter: brightness(0) invert(1); }
  nav .hidden {
    opacity: 0;
    max-height: 0;
    margin: 0; }
    nav .hidden img {
      max-height: 0; }

.list ul {
  width: 100vw;
  margin: 170px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .list ul .list-component {
    background: white;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto 15px;
    font-size: 20px;
    overflow: hidden;
    transition: transform 0.15s ease-in-out; }
    .list ul .list-component:first-child {
      animation: pulse 0.7s 1.5s forwards; }
    .list ul .list-component .daily-icon {
      margin: 15px 5% 15px; }
      .list ul .list-component .daily-icon img {
        border-radius: 50%;
        margin: auto;
        width: 60px; }
    .list ul .list-component .daily-text {
      width: 70%; }
      .list ul .list-component .daily-text h3 {
        font-weight: 400;
        margin: 10px 0 0; }
      .list ul .list-component .daily-text p {
        font-weight: 200;
        margin: 0 10px 15px 0;
        word-wrap: break-word; }

.newSubmition {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out; }
  .newSubmition .submitionWindow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    background: white;
    width: 95%;
    height: 85vh;
    border-radius: 25px 0 25px 0;
    overflow-y: scroll;
    padding: 5px; }
    .newSubmition .submitionWindow .close {
      position: absolute;
      top: 10px;
      right: 0;
      border: none;
      background: none;
      padding: 15px;
      margin: 0; }
      .newSubmition .submitionWindow .close div {
        transform: rotate(45deg);
        width: 30px;
        height: 2px;
        background: black;
        position: relative; }
        .newSubmition .submitionWindow .close div::after {
          content: '';
          position: absolute;
          width: 30px;
          height: 2px;
          background: black;
          top: 0;
          left: 0;
          transform: rotate(90deg); }
    .newSubmition .submitionWindow h2 {
      font-weight: 300;
      font-size: 30px;
      margin: 60px auto 0;
      text-align: center; }
    .newSubmition .submitionWindow form {
      display: flex;
      flex-direction: column; }
      .newSubmition .submitionWindow form ul {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-around; }
        .newSubmition .submitionWindow form ul li {
          opacity: 0.3;
          transition: opacity 0.3s ease-in-out; }
        .newSubmition .submitionWindow form ul .selected {
          opacity: 1; }
      .newSubmition .submitionWindow form textarea {
        margin: 0 20px;
        border-radius: 10px;
        padding: 15px;
        max-height: 115px;
        border: 1px solid black; }
        .newSubmition .submitionWindow form textarea::placeholder {
          font-weight: 100;
          font-size: 18px; }
      .newSubmition .submitionWindow form .song {
        display: flex;
        flex-direction: column;
        margin: 0 20px 0; }
        .newSubmition .submitionWindow form .song label {
          margin: 30px 0 0;
          font-size: 22px;
          font-weight: 300;
          display: flex;
          align-items: center; }
        .newSubmition .submitionWindow form .song #songCheck {
          width: 28px;
          height: 28px;
          border-radius: 30%; }
        .newSubmition .submitionWindow form .song .songLink {
          border: 1px solid black;
          border-radius: 10px;
          padding: 5px;
          width: 95%;
          align-self: center;
          visibility: hidden;
          opacity: 0;
          font-weight: 100;
          font-size: 18px;
          transition: opacity 0.2s ease-in-out, margin 0.2s ease-in-out, visibility 0.2s ease-in-out;
          margin: 0; }
        .newSubmition .submitionWindow form .song .checked {
          margin: 7px 0 30px;
          opacity: 1;
          visibility: visible; }
      .newSubmition .submitionWindow form button[type="submit"] {
        background: #5BA8FF;
        color: white;
        font-size: 20px;
        font-weight: 300;
        width: 30%;
        align-self: center;
        border: 1px solid #95CFFC;
        border-radius: 25px;
        padding: 10px;
        margin-bottom: 25px; }

.rem {
  opacity: 0 !important; }

.songWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out; }
  .songWindow iframe {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    margin: 30px;
    width: 100%;
    max-width: 1000px; }

.statsWindow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  background: white;
  width: 95%;
  height: 85vh;
  border-radius: 25px 0 25px 0;
  overflow-y: scroll;
  padding: 5px;
  text-align: center; }
  .statsWindow .close {
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    background: none;
    padding: 15px;
    margin: 0; }
    .statsWindow .close div {
      transform: rotate(45deg);
      width: 30px;
      height: 2px;
      background: black;
      position: relative; }
      .statsWindow .close div::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background: black;
        top: 0;
        left: 0;
        transform: rotate(90deg); }
  .statsWindow p {
    font-weight: 300;
    font-size: 20px; }
    .statsWindow p .awesome {
      color: #00FF65; }
    .statsWindow p .good {
      color: #54FF98; }
    .statsWindow p .regular {
      color: #ACA8B9; }
    .statsWindow p .bad {
      color: #DE7373; }
    .statsWindow p .awful {
      color: #F94545; }
  .statsWindow h2 {
    margin-top: 40px;
    font-size: 40px; }

.mouseover {
  transform: scale(0.95);
  cursor: pointer; }

@keyframes pulse {
  25% {
    transform: scale(0.95); }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(0.95); } }
